<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.src.isec">

    <!-- IM相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 定位服务 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 音视频相关权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>




    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".IsecApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.src.isec.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <!-- IM服务、广播 -->
        <!-- 消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE"/>
        <!-- 消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE"/>
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal"/>
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <!-- IM服务、广播 -->


        <!-- 第三方分享、登录 -->
        <activity
            android:name=".utils.shareutils._ShareActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.src.isec.utils.shareutils"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".utils.shareutils._ShareActivity"/>

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:taskAffinity="com.src.isec.utils.shareutils"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1106756289"/>
            </intent-filter>
        </activity>
        <!-- 第三方分享、登录 -->


        <!-- 支付宝、微信支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".utils.payutils.weixin.WXPayCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity=".utils.payutils.weixin.WXPayCallbackActivity"/>
        <!-- 支付宝、微信支付 -->

        <activity
            android:name=".mvp.view.implement.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.implement.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"/>

        <activity
            android:name=".mvp.view.implement.activity.LoginModeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".mvp.view.implement.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.RealNameAuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.RealNameAuthSubmitActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.PublishSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.PublisherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            >

        </activity>
        <activity
            android:name=".mvp.view.implement.activity.LivePlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".mvp.view.implement.activity.EditPersonalInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.EditNickNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.ChangePhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.ChangePhoneSubmitActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.AttentionFansActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.view.implement.activity.SearchActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>